* {
  all: unset; //Unsets everything so you can style everything from scratch
}
	
//Global Styles
.bar {
  background-color: rgba(0, 0, 0, 0);
  color: #ffd5cd;
  border-radius: 0px;
	box-shadow: 2 4px 2px 0 rgba(0,0,0,0.5);
	margin: 0px 0px 2px 0px;  
  font-family: Ubuntu Nerd Font Mono;
  font-size: 12px;
  min-height: 0;
}

/** General **/
.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
  background-color: #0f0f17;
  font-size: 14;
  border-radius: 10px;
  color: #bfc9db;
}

tooltip label {
  margin: 6px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff {
  color: #ffd5cd;
}

.audio {
  color: #89b4fa;
  padding-right: 10px;
  padding-left: 5px;  
  font-weight: bold;
  font-size: 14px;    
}

.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
.volume_icon {
    font-size: 14;
    color: #a1bdce;
  margin: 0px 10px 0px 10px;
}

.net {
  color: #f9e2af;
  padding-right: 10px;
  padding-left: 10px;  
  font-weight: bold;
  font-size: 14px;    
}

.module_essid {
  font-size: 14;
  color: #f9e2af;
  font-weight: bold;
margin: 0px 10px 0px 0px;
}
.module-wif {
  font-size: 14;
  color: #f9e2af;
  border-radius: 100%;
margin: 0px 10px 0px 5px;
}
.module_idle {
  color: #a6e3a1;
  padding-right: 0px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;  
}

.brightness {
  color: #f9e2af;
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

.paru {
  color: #f5c2e7;
  padding-right: 10px;
  font-weight: bold;
  font-size: 14px;    
}

.paru-empty {
  color: #f5c2e7;
  padding-right: 0px;
  font-weight: bold;
  font-size: 14px;    
}

.scratchpad {
  color: #cdd6f4;
  padding-right: 5px;
  padding-left: 10px;  
  font-weight: bold;
  font-size: 14px;    
}

.scratchpad-empty {
  color: #cdd6f4;
  padding-right: 0px;
}

.clock {
  color: #a6adc8;
  font-weight: bold;
  font-size: 14px;  
}

.idle {
  color: #a6e3a1;
  padding-right: 0px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;  
}

.battery {
  color: #bd93f9;
  padding-right: 10px;
  padding-left: 5px;    
  font-weight: bold;
  font-size: 14px;  
}

.batbar {
  color: #bd93f9;
    background-color: #38384d;
  border-radius: 1px;
}

.iconbat {
  color: #bd93f9;
}
.iconbat, .iconmem {
  font-size: 12;
  margin: 8px;
}

.bat_module {
  //background-color: #0f0f17;
border-radius: 16px;
margin: 0px 10px 0px 5px;
}

.clock_time_sep {
  font-size: 14;
  color: #bfc9db;
  margin: 0px 4px 1px 4px;
}
.clock_time_class, .clock_minute_class {
  font-size: 14;
}
.clock_date_class {
  font-size: 14;
  margin: 0px 20px 0px -1px;
  color: #d7beda;
}
.clock_minute_class {
  margin: 0px 20px 0px 3px;
  color: #bfc9db;
}

.clock_time_class {
  color: #bfc9db;
  margin: 0px 5px 0px 0px;
}



.w0 , .w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09,
.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099{
  padding: 3px 5px;
  box-shadow: inset 0 -2px transparent;
  background-color: rgba(0, 0, 0, 0);
}

/* Unoccupied */
.w0 {
  color: #313244;
}

/* Occupied */
.w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09 {
  color: #a6adc8;
}

/* Focused */
.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  color: #FFA300;
}

.workspace {
padding: 10 10 10 10px;
font-weight: bold;
font-size: 12px;
}

.workspace button:hover {
  background: #11111b;
  color: #FFA300; 
  //color: #cdd6f4;
  border-radius: 10px;  
}

scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}
